/ 136A_Presents.c
/1030A_In_Search_of_an _Easy_Problem.c
/110A_Nearly_Lucky_Number.c
/112A_Petya_and_Strings.c
/118A_String_Task.c
/122A_Lucky_Division.c
/1328A_Divisibility_Problem.c
/1328A_Divisibility_Problem_alt.c
/133A_HQ9+.c
/141A_Amusing_Joke.c
/144A_Arrival_of_the_General.c
/148A_Insomnia_cure.c
/158A_Next_round.c
/160A_Twins.c
/1A_Theatre_Square.c
/200B_drinks.c
/208A_Dubstep.c
/228A_Is_your_horseshoe_on_the_other_hoof?.c
/231A_Team.c
/236A_Boy_or_Girl.c
/25A_IQ_test.c
/263A_Beautiful_Matrix.c
/266A_Stones_on_the_Table.c
/266B_Queue_at_the_School.c
/268A_Games.c
/271A_Beautiful_Year.c
/281A_Word_Capitalization.c
/282A_Bit++.c
/318A_Even_Odds.c
/318A_Even_Odds_alt.c
/339A_Helpful_Maths.c
/344A_Magnets.c
/405A_Gravity_Flip.c
/41A_translation.c
/443A_Anton_and_Letters.c
/467A_George_and_Accommodation.c
/469A_I_Wanna_Be_the_Guy.c
/479A_Expression.c
/486A _Calculating_Function.c
/4A_Watermelon.c
/4C_Registration_System.c
/50A_Domino_piling.c
/510A_Fox_And_Snake.c
/520A_Pangram.c
/546A _Soldier_and_Bananas.c
/580A_Kefa_and_First_Steps.c
/580A_Kefa_and_First_Steps_alt.c
/58A_Chat room_alt.c
/58A_Chat_room.c
/59A_word.c
/617A_Elephant.c
/61A_Ultra_Fast_Mathematician.c
/677A_Vanya_and_Fence.c
/69A_Young_Physicist.c
/705A_Hulk.c
/71A_Way_Too_Long_Words.c
/734A_Anton_and_Danik.c
/785A_Anton_and_Polyhedrons.c
/791A_Bear_and_Big_Brother.c
/96A_Football.c
/977A_Wrong_Subtraction.c
/996A_Hit_the_Lottery.c
/a.out
/c.c
/cc.c
/r.c